
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.line {
	fill: none;
	stroke: green;
	stroke-width: 5px;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  .arc path {
    stroke: teal;
    stroke-width: 3.5px;
  }