<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Formulario de Registro</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,900|Ubuntu" rel="stylesheet">
  <link rel="icon" type="image/png" href="images/logo.png">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/headerFooter.css">
  <link rel="stylesheet" href="css/stepper.css">


  <title></title>
</head>

<body>

  <section id="title">

    <!-- Nav Bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="index.html"><img class="titleimage" align="left" src="images/W2.png " height="100" width="280"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link pestena"  href="producto.html">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pestena"  href="news.html">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pestena"  href="quienessomos.html">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pestena"  href="contact.html">Contáctanos</a>
            </li>  
          </ul>

        </div>
      </nav>
  </section>
  <div class="container-fluid">


    <section class="testimonial py-5" id="testimonial">
      <h6>registro</h6>
      <div class="container">
        <div class="row ">
          <div class="col-md-4 py-5 bg-primary text-black text-center">
            <div class=" ">
              <div class="card-body register-card">
                <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                <h2 class="py-3">Registro</h2>
                  <p>Al registrarte confirmas que nos otorgas permiso para enviarte a tu correo electronico cualquier noticia importante sobre promociones o mejoras actualizaciones de nuestra plataforma</p>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-8 py-5 border">
            <h4 class="pb-4">Llenar con los datos requeridos</h4>
            <div id="app">
            <form id="regForm" action="">

              <div class="col-lg-12">
                <span class="step">Paso 1</span>
                <span class="step">Paso 2</span>
                <span class="step">Paso 3</span>
              </div>

              <div class="tab">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="Name" v-model="form.nombre" name="Name" placeholder="Nombre" class="form-control" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <input id="apellido" v-model="form.apellido" name="apellido" placeholder="Apellido" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="email" v-model="form.username" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <select id="inputState" class="form-control">
                      <option selected>Escoger ...</option>
                      <option> Cliente regular</option>
                      <option> Vendedor</option>
                    </select>
                  </div>

                  <div class="form-group col-md-12">
                    <label>Crea una contraseña</label>
                    <input class="form-control" v-model="form.password" type="password">
                    <label>Confirma tu contraseña</label>
                   <input class="form-control" type="password">
                  </div>
                </div>
              </div>

              <div class="tab">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Provincia</label>
                    <input type="state" class="form-control" id="state" placeholder="Guayas">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Ciudad</label>
                    <input type="city" class="form-control" id="city" placeholder="Duran">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Número convencional</label>
                    <input type="phone" v-model="form.telefono" class="form-control" id="phone" placeholder="(+593) 99 888 7777">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Número celular</label>
                    <input type="cellphone" class="form-control" id="cellphone" placeholder="(04) 2 334455">
                  </div>

                  <div class="form-group col-md-12">
                    <label>Dirección</label>
                    <input type="direccion" v-model="form.direccion" class="form-control" id="direccion" placeholder="Primavera 2 Mz 39A">
                  </div>

                </div>
              </div>

              <div class="tab">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <h4>Nombre: </h4>
                    <label>Juan Alberto</label>
                  </div>
                  <div class="form-group col-md-6">
                    <h4>Apellido: </h4>
                    <label>Perez Mejia</label>
                  </div>
                  <div class="form-group col-md-6">
                    <h4>Email: </h4>
                    <label>juanperez@gmail.com</label>
                  </div>
                  <div class="form-group col-md-6">
                    <h4>Número celular: </h4>
                    <label>096 112 3548</label>
                  </div>
                  <div class="form-group col-md-12">
                    <h4>Dirección: </h4>
                    <label>Sauces 8, Mz A-39 Villa 29</label>
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                          <small>Al registrarte accedes a todos los terminos y condiciones</small>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <button type="button" id="prevBtn" class="btn btn-lg btn-primary btn-info text-uppercase font-weight-bold mb-2 ml-2" onclick="nextPrev(-1)">Anterior</button>
                <button type="button" id="nextBtn" class="btn btn-lg btn-primary btn-info text-uppercase font-weight-bold mb-2 ml-2" onclick="nextPrev(1)">Siguiente</button>
                <button type="button" @click="registrar()"> Registrar</button>
              </div>

              <script src="js/stepper.js"></script>
            </form>
          </div>

          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- footer-->
  <footer id="footer">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fas fa-envelope"></i>

    <p class="footerText">© Copyright 2019 proyectoDAW</p>

  </footer>

  <script src="https://unpkg.com/vue"></script>
  <script src="js/register.js"></script>




</body>

</html>
